/* global.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, sans-serif;
  background: radial-gradient(circle at top, #111827, #020617);
  color: #e5e7eb;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: gray;
}

button {
  border: none;
  background: none;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
button:hover{
  color: gray;
}

input {
  font-family: inherit;
  outline: none;
}
