.board-detail {
  /* background: #ffffff; */
  border-radius: 12px;
  padding: 32px;
}

.detail-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 16px;
}

.detail-meta {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: white;
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
  margin-bottom: 24px;
}

.detail-content {
  min-height: 240px;
  line-height: 1.7;
  font-size: 16px;
  color: white;
  white-space: pre-line;
  margin-bottom: 40px;
}

.detail-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-actions .right {
  display: flex;
  gap: 10px;
}

/* 공통 버튼 */
.btn {
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.btn.gray {
  background: #e5e5e5;
  color: #333;
  text-decoration: none;
}

.btn.outline {
  background: white;
  border: 1px solid #ccc;
}

.btn.danger {
  background: #e53935;
  color: white;
}
